<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Orders</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Total</th>
        <th>User ID</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.date}"></td>
        <td th:text="${order.total}"></td>
        <td th:text="${order.userId}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>